.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
_extensions/
python-env/
user_data_dir/
/.luarc.json
1_Introduction_to_Computing/1_Introduction_to_Computing_cache/
2_Introduction_to_HTML/2_Introduction_to_HTML_cache/
3_Static_Web_Pages/3_Static_Web_Pages_cache/
4_APIs/4_APIs_cache/
5_Interactive_Web_Pages/5_Interactive_Web_Pages_new_cache/
2V_participants.xlsx

.DS_Store

abstracts
data/apsa2023

