.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
_extensions/
python-env/
user_data_dir/
/.luarc.json
*_cache/
*_files/
2V_participants.xlsx
abstracts
data/apsa2023
notes/
exams/

test.qmd
*.pptx
03_Working_with_Files/data/Corp_HouseOfCommons_V2.rds
03_Working_with_Files/data/main.zip
03_Working_with_Files/data/files/
03_Working_with_Files/data/house_of_commons
03_Working_with_Files/data/house_of_commons_parquet
03_Working_with_Files/data/elites_data_UK.json
04_Linking_and_joining_data_SQL/data/db.sql
04_Linking_and_joining_data_SQL/data/inequality
04_Linking_and_joining_data_SQL/media/venn_only.pdf
04_Linking_and_joining_data_SQL/data/db_nyc.sql
04_Linking_and_joining_data_SQL/notes.md
05_Scaling_Reporting_and_Database_Software/data/docker-compose-amcat.yml

05_solutions.qmd
06_solutions.qmd
07_solutions.qmd
08_solutions.qmd
09_solutions.qmd

